# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
# For some reason, Stackblitz webcontainer never terminate "ng build", so can't build and then start dev server. It works fine locally.
# The only solution I've found is the prebuild it locally, then upload with built files.
# /www/assets
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
